:root{
  --aside:#051e34;
  --blu-bar:#1b72e8;
  --code-icon:#f26551;
  --links:#0d6efd;
  --bell:#ff8f00;
  --done:#198754;
  --process:#ffc107;
  --failed:#dc3545;
  --nav-i:#5b5858;
  --blue-bar-badges:#165bba;
  --nav-input:#e5e5e5;
  --i:#6c757d;
  --bordi:#cbcbcb;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}

/* utilities */
.debug{
  background-color: rgba(0, 139, 139, 0.426);
  border: 1px solid firebrick;
}


form{
  background-color: var(--nav-input);
  align-items: center; 
  padding: 8px 5px ;
  border-radius: 7px;
 }
 
/* utilities */


header{
  background-color: #1265b8;
  height: 70px;
}

header .nav{
  background-color: white;
  flex-wrap: nowrap;
}

.logo{
  max-width: 150px;
  min-width: 70px;
  width: 15%;
  height: 100%;
  padding: 5px;
}

.logo img:nth-child(2){
  width: 40px;
  min-width: 40px;
}

.search{
  width: 70%;
}

.search input{
  width: calc(100% - 30px);
}

.icons{
  width: 15%;
  height: 100%;
}

aside{
  width: 150px;
  height: 100%;
  background-color: hotpink;
  padding: 30px 20px ;
}

aside i{
  margin-right: 10px;
}

main{
  height: calc(100vh - 70px);
  /* margin-top: 70px; */
}

.workspace{
  background-color: orange;
  height: 100%;
  width: calc(100% - 150px);
  overflow:auto;
}

main .next-classes{
  width: 100%;
  background-color: white;
}


.next-classes .name{
  width: 25%;
  padding-left: 10px;
}

.next-classes .dx{
  width: 50%;
  justify-content: space-between;
}

.next-classes .dx div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-classes .date{
  width: 35%;
}
.next-classes .roi{
  width: 10%;
}
.next-classes .state{
  width: 15%;
}
.next-classes .action{
  width: 30%;
 
}

.action div{
  margin: 2px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--bordi);
}


.name-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--code-icon);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.my-accordion .title{
  background-color: #f7f7f7;
}


.todo{
  border-radius: 10px;
  background-color: #f7f7f7;
  overflow: hidden;
}

.todo .title{
  background-color: #f7f7f7;
  padding: 10px;
  border-bottom: 1px solid var(--bordi);
}

.todo .my-check{
  border: 1px solid var(--bordi);
  border-bottom: none;
  border-radius: 5px;
}

.todo .my-check div{
  border-bottom: 1px solid var(--bordi);
}


@media (max-width:767px){

  .fa-bars,
  .fa-circle-question,
  .fa-ellipsis-vertical{
    display: none;
  }

  .icons{
    width: 50px;
  }
  aside i{
    margin-top: 10px;
  }

  .search{
    width: calc(100% - 120px);
  }

  .workspace{
    width: calc(100% - 70px);
  }
  
  aside{
    width:70px ;
  }
}

