:root{
  --aside:#051e34;
  --blu-bar:#1b72e8;
  --code-icon:#f26551;
  --links:#0d6efd;
  --bell:#ff8f00;
  --done:#198754;
  --process:#ffc107;
  --failed:#dc3545;
  --nav-i:#5b5858;
  --blue-bar-badges:#165bba;
  --nav-input:#e5e5e5;
  --i:#6c757d;
  --bordi:#cbcbcb;
  --titoli-tabelle: #f7f7f7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}

/* utilities */
.debug{
  background-color: rgba(0, 139, 139, 0.426);
  border: 1px solid firebrick;
}


form{
  background-color: var(--nav-input);
  align-items: center; 
  padding: 8px 5px ;
  border-radius: 7px;
 }

 .my-canvas form{
  background-color: white;
 }
 
/* utilities */


header{
  background-color: white;
  height: 70px;
}

header .nav{
  background-color: white;
  flex-wrap: nowrap;
}

.logo{
  max-width: 150px;
  height: 100%;
  padding: 5px;
}

.logo img:nth-child(2){
  width: 40px;
  min-width: 40px;
}

.search{
  width: 70%;
  background-color: var(--nav-input);
  border-radius: 5px;
}

.search input{
  width: calc(100% - 30px);
  background-color: var(--nav-input);
  border: none;
}

.icons{
  width: 15%;
  height: 100%;
}

.icons .fa-bell{
  color: var(--bell);
}

aside{
  width: 150px;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  padding: 30px 20px ;
  background-color: var(--aside);
}

aside a{
  color: white;
  text-decoration: none;
}

aside i{
  margin-right: 10px;
}

main{
  height: calc(100vh - 70px);
  /* margin-top: 70px; */
}

.workspace{
  background-color: var(--nav-input);
  height: 100%;
  width: calc(100% - 150px);
  overflow:auto;
}

.my-canvas{
  width: 100%;
}

.offcancas-body{
  background-color: white;
}

.blue-bar{
  background-color: var(--blu-bar);
}

.bool .badge{
  background-color: var(--blue-bar-badges);
}


.table .right{
  width: 50%;
}


.table td{
  height: 50px;
}

.table td p{
  margin: 0 !important;
}

.table .fa-code{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--code-icon);
}

.my-table{
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid var(--bordi);
}

.my-accordion{
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid var(--bordi);
}

.todo{
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--bordi);
}

.todo h2{
  border-bottom: 1px solid var(--bordi);
}

.graph{
  border: 1px solid var(--bordi);
  border-radius: 10px;
}


@media (max-width:767px){

  .fa-bars,
  .fa-circle-question,
  .fa-ellipsis-vertical{
    display: none;
  }

  .icons{
    width: 50px;
  }
  aside i{
    margin-top: 20px;
  }

  .search{
    width: calc(100% - 120px);
  }

  .workspace{
    width: calc(100% - 70px);
  }
  
  aside{
    width:70px ;
  }

  .my-canvas{
    width: 100% !important;
  }
}

